* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}



a {
  color: black;
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  text-decoration: none;
}

.presentation a {
  color: #c4298d;
  text-decoration: none;
  word-break: break-word;
}

.presentation a:hover {
  color: #c4298d;

  /* text-decoration: underline; */
  border-bottom: #c4298d 1px solid ;
}

.fakelink {
  color: #c4298d;
  text-decoration: none;
  word-break: break-word;
}

html {
  width: 100%;
}

@media (orientation: landscape) {
    h1 {
        padding-bottom: 0.25em;
        padding-top: 1em;
      }
      
      h2 {
        padding-top: 0.5em;
        padding-left: 0.1em;
      }
  body {
    width: 45%;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: auto;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;
  }
   @media only screen and (max-width: 1366px) {
    body {
      width: 60%;
    }
  }
  
  @media only screen and (max-width: 1280px) {
    body {
      width: 80%;
    }
  } 

  @media only screen and (max-width: 1024px) {
    body {
      width: 95%;
    }
  } 
}

@media (orientation: portrait) {
    h1 {
        padding-bottom: 0.25em;
        padding-top: 0.5em;
        line-height: 1em;
      }
      
      h2 {
        padding-top: 0.25em;
        padding-left: 0.1em;
      }
  body {
    width: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: auto;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;

    
  }
}



.introduction {
  display: flex;
  flex-direction: row;
}

.presentation {
  width: 80%;
}



/* .avatar {
    
    
   
   
   
   
   

   
   background: url( "avatar.webp")  no-repeat;
   background-size: contain;
   object-fit: contain;
   width: 100%;
   height: 0;
   padding-top: 100%; 
   /* height: auto; */

/* } */

@media (orientation: landscape) {
}
@media (orientation: portrait) {
}

@media (orientation: landscape) {
  .content {
    margin-top: 2em;
  }
  .introduction-mobile {
    display: none;
    
  }
  .social-icons-mobile {
    display: none;
    
  }
  .avatar-zone {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;

    text-align: center;
    justify-content: center;
  }

  .avatar-square {
    position: relative;
    box-shadow: 1px 4px 4px 1px #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em;
    width: 80%;
    height: 100%;
    align-self: center;
  }

  .avatar-real {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.5em;
    /* object-fit: contain; */
  }

  .avatar-trans-flag {
    width: 100%;
    position: absolute;
    opacity: 0;
    /* display: none; */
    top: 0;
    left: 0;
    border-radius: 0.5em;
    /* object-fit: contain; */
    height: 100%;
  }

    
.social-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 1px 4px 4px 1px #ccc;
  
    justify-content: center;
    border-radius: 0.5em;
    border: 1px #eee solid;
  
    align-items: flex-end;
    height: 3.2em;
  }

  
.social-icons img {
    margin-top: 0.2em;
   
  }
  
  .social-icons img:hover {
    margin-top: 0;
  }

  
  .social-icons:hover {
    cursor: pointer;
    box-shadow: 1px 4px 4px 1px rgb(236, 156, 216);
  }

  
.social-icons img:hover {
    cursor: pointer;
  
    margin-bottom: 0.2em;
    /* border-radius:20%;
      box-shadow: 0 0 4px 3px rgb(236, 156, 216); */
  }
  
  /* .social-icons img:hover {
      cursor: pointer;
      
      box-shadow: 1px 4px 4px 1px rgb(236, 156, 216);
      
  }  */
  
  .social-icons a {
    /* width: 33.33%; */
    /* object-fit: contain; */
    /* text-align: center; */
    /* margin: 0.1em; */
    width: 12%;
    height: 100%;
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin-top: 0.5em;
  }


  .project:hover {
    cursor: pointer;
    box-shadow: 1px 4px 4px 1px rgb(236, 156, 216);
  }
  
  .project:hover img {
    cursor: pointer;
    box-shadow: 1px 4px 4px 1px rgb(236, 156, 216);
  }




  .project img {
    width: 20%;
    /* height: 20%; */
    box-shadow: 1px 4px 4px 1px #ccc;
    object-fit: cover;
    border-radius: 0.5em;
  
    border-top: 1px #eee solid;
    /* border: 1px solid #ccc; */
    /* box-shadow: 0px 4px 5px #ccc; */
  }
  
  .project a {
    display: block;
    padding: 1em;
    /* box-shadow: 0px 4px 5px #ccc; */
  }

  
.project {
  display: flex;
  flex-direction: column;
  border: 1px #eee solid;
  box-shadow: 1px 4px 4px 1px #ccc;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  min-height: 15em;
  border-radius: 0.5em;
}



.project-text {
  display: flex;
  flex-direction: column;
  padding-left: 1.5em;
}


}
@media (orientation: portrait) {
  .content {
    margin-top: 0em;
  }

    
.social-icons {
  display: none;
}

.introduction {
  display: none;
}
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

  .avatar-zone {

   
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0em;

    
    text-align: right;
    justify-content: right;
  }
  .avatar-square {
    position: relative;
  
    border-radius: 0.5em;
    margin-bottom: 1em;
    
    height: auto;
    align-self: center;
   
  }
  .avatar-real {
    
    width: 100%;
    height: auto;
    position: relative;
    /* border-radius: 0.5em; */
    border-radius: 0.5em;
    box-shadow: 1px 4px 4px 1px #ccc;
    /* object-fit: contain; */
  }

  .avatar-trans-flag {
    display: none;
  }


  

  .introduction {
    margin-bottom: 1em;
}

.presentation {
    font-size: 1.1rem;
    width: 100%;
   
}



.project img {
  width: 30%;
  height: 30%;
  box-shadow: 1px 4px 4px 1px #ccc;
  object-fit: cover;
  border-radius: 0.5em;


  border-top: 1px #eee solid;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0px 4px 5px #ccc; */
}

.project a {
  display: block;
  padding: em;
  /* box-shadow: 0px 4px 5px #ccc; */
}


  
.project {
  display: flex;
  flex-direction: column;
  border: 1px #eee solid;
  box-shadow: 1px 4px 4px 1px #ccc;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  min-height: 15em;
  border-radius: 0.5em;
}

.project-text {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}





.social-icons-mobile {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  position: fixed;
  
  
  box-shadow: 1px 4px 4px 1px #ccc;
  border-radius: 0.5em;
  border: 1px #eee solid;

  text-align: center;
  justify-content: center;

  background-color: white;

  align-items: center; 
  width: 100%;
  margin: auto;
  /* height: 3.2em; */

  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 0);
}


.social-icons-mobile img {
  margin-top: 0.0;


}

.social-icons-mobile a {
  /* width: 33.33%; */
  /* object-fit: contain; */
  /* text-align: center; */
  /* margin: 0.1em; */
  
  
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

} /* Portrait */

/* .avatar:hover{
    /* display: none; */

/* no-repeat; */

/* background-image: url(
        "trans-flag.webp"
    ); 
}  */

.avatar-trans-flag:hover {
  /* display: none; */
  opacity: 0.75;
}



/* .social-icons img:hover {
    cursor: pointer;
    border: 1px #eee solid;
    box-shadow: 1px 4px 4px 1px rgb(236, 156, 216);
} */


.social-icons img {
  /* object-fit: contain; */
  /* text-align: center; */
}


.project:hover .fakelink {
  text-decoration: underline;
}

.project > div {
  display: flex;
  flex-direction: row;
}



.project > h2 {
}



body {
  margin-bottom: 1em;
}

body::after {
  display: block;
  content: "Copyright© 2020 Federico Santamorena (yatima1460) - All Rights Reserved";
  color: #666666;
  text-align: center;

  margin-top: 2em; /* To show the copyright line because sticky social icons */
  padding-bottom: 4em;
}
