@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body {
    margin: auto;
    max-width: 800px;
    padding: 32px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    font-size: 1.2rem;
    line-height: 1.4; 
    color: #000;
}

a {
    color: #0077AA;
    font-size: 1.5rem;
}

a:visited {
    color: #0077AA;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}


h4 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    color: #555;
    font-weight: normal;
}
