<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.title }}">
  <link rel="stylesheet" href="/simple.css">
</head>
<body>
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">Curriculum Vitae</div>
    </div>
    <div class="window-body">
      <div class="nav-buttons">
        <button class="btn" onclick="window.location.href='/'">Home</button>
        <button class="btn" onclick="window.location.href='/about.html'">About</button>
      </div>

      <div class="social-buttons">
        <button class="btn" onclick="window.open('https://github.com/yatima1460', '_blank')">GitHub</button>
        <button class="btn" onclick="window.open('https://linkedin.com/in/yatima1460', '_blank')">LinkedIn</button>
        <button class="btn" onclick="window.open('https://discord.com/users/yatima', '_blank')">Discord</button>
      </div>

      <hr>

      <h1>{{ page.title | default: site.title }}</h1>

      {{ content }}
    </div>
  </div>
</body>
<footer>
    <p class="center">&copy; 2025 Yatima Santamorena</p>
</footer>
</html>
